*~
*.bak
#*/testing/*

# Nvidia activity files
*.nvact

# Visual Studio
*.[Oo]bj
*.user
*.aps
*.pch
*.pdb
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
*.VC.db
*.VC.opendb
ipch/
[Oo]bj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
GeneralTesting/
Ankh.NoLoad

*.orig
*.swp

*.db
*.a
.vs/MorphEx/v16/Browse.VC.db-shm
.vs/MorphEx/v16/Browse.VC.db-wal
.vs/MorphEx/v16/Solution.VC.db-shm
.vs/MorphEx/v16/Solution.VC.db-wal
